<%= form_with scope: :article, url: update_article_path, local: true, method: :patch do |f|  %>
  <p>
    <% if @article.errors.any?  %>
      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    <% end %>     
  </p>

        <div class="form">
        <form name="loginform">
            <div class="task">Edit Article</div>
            <div>
                <%= f.label :name %> <br>
                <%= f.text_field :name, :class => 'name' %>
            </div>
            <div>
                <%= f.label :body %><br>
                <%= f.text_area :body, :class  => 'text-field' %>
            </div>
            <div>
                <%= f.submit "Save", :class => 'submit' %>
            </div>
        </form>
          <%=  link_to 'Back to Articles', articles_path, :class => 'index' %>
        </button>
    </div>
<% end %>
